{% extends 'guest_base.html' %}

{% block head %}
<title>Login</title>
<style type="text/css">
	.maindiv{
		width: 40%;
		height: 500px;
		margin: auto;
		padding: 35px;
		border-radius: 15px;

	}
</style>
{% endblock %}


{% block body %}


<div class="maindiv">
	<legend>Login</legend>
	{% if errors == "1" %}
	<div class="alert alert-danger" role="alert">
		Username or password is incorrect.
	</div>
	{% endif %}

	<form method="POST" action="/login">
		<div class="form-group">
			<label for="exampleInputEmail1">Username</label>
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="usernameHelp" placeholder="Enter username" name='username'>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name='password'>
		</div>
		<button type="submit" class="btn btn-secondary">Submit</button>
		<br>
		<h5><a href="/register">Don't have an account? Sign up </a></h5>
	</form>
</div>

{% endblock %}